pydantic
omegaconf
albumentations
einops
opencv-python
opencv-python-headless
pandas
pytorch-lightning
lightning
pytorch-msssim
PyYAML
scikit-image
scikit-learn
scipy
tabulate
termcolor
thop
torch
torchmetrics
torchvision
tqdm
wandb
jsonargparse[signatures]
timm
deepspeed