pydantic
omegaconf
albumentations
einops
signal
opencv-python
opencv-python-headless
pandaspytorch-lightning
pytorch-msssim
PyYAML
scikit-image
scikit-learn
scipy
tabulate
termcolor
thop
torch
torchmetrics
torchvision
tqdm
wandb